body {
    background-color: blanchedalmond;
    background: radial-gradient(circle,rgba(238, 174, 202, 1)0%,rgba(148, 187, 233, 1)100%);
}

h1 {
    color:#526eee;
}

p{
    background-color:rgb(161, 134, 235);
    color:rgb(0, 0, 0);
}